*.root
*.log
*.err
*.out
tmp/
__init__.py
__pycache__/
*.pyc
.vscode/
*.cc
__pycache__/
NanoAODTools/python/postprocessing/TopMassResolution.py
NanoAODTools/python/postprocessing/TopMisId.py
NanoAODTools/python/postprocessing/TopMixedScoreDistr.pdf
NanoAODTools/python/postprocessing/TopMixedScoreDistr.png
NanoAODTools/python/postprocessing/TopReco4topFinalState.py
NanoAODTools/python/postprocessing/TopResolvedScoreDistr.pdf
NanoAODTools/python/postprocessing/TopResolvedScoreDistr.png
NanoAODTools/python/postprocessing/TopTaggerPaper/
NanoAODTools/python/postprocessing/cmsstylePlot_example.py
NanoAODTools/python/postprocessing/plot_cmsstyle.py
NanoAODTools/python/postprocessing/redme_trota.md
NanoAODTools/python/postprocessing/tmp_plotJetFatJetmatched.py
NanoAODTools/python/postprocessing/tmp_plotTesi_Scoretagger.py
NanoAODTools/python/postprocessing/trial_canvas.png
NanoAODTools/python/postprocessing/postselection/condor/
NanoAODTools/python/postprocessing/postselection/condor_noSFbtag/
NanoAODTools/python/postprocessing/postselection_xTopSF/condor_preprocess/
NanoAODTools/python/postprocessing/postselection_xTopSF/condor_postSel/